.projects-card {
	background-color: var(--color-bg-40);
	padding: var(--gap-medium);
}

.card-meta-inner,
.projects-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--gap-medium);
}
.card-meta-inner {
	background-color: transparent !important;
}

.card-meta {
	width: 100%;
	background-color: transparent !important;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.card-meta .actions {
	width: 10%;
	border-radius: var(--gap-small);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.card-meta .actions > svg {
	font-size: 2.4rem;

	position: absolute;
	inset: 0 -.565rem auto auto;
	margin: auto;
	font-weight: 400;
	background-color: transparent !important;
}

.card-meta h3 {
	background-color: transparent !important;
	font-size: 1.4em;
}

.card-tag {
	display: flex;
	background-color: transparent !important;
	flex-direction: row;
	gap: var(--gap-small);
}
.card-tag span {
	border: 1px solid var(--color-font-20);
	background-color: var(--color-bg-40);
	padding: .565rem;
	border-radius: 5px;
	box-shadow: var(--shadow-small);
	cursor: pointer;
}

.action__tooltip {
	width: 8rem;
	height: 4rem;
	position: absolute;
	inset: -2rem 1.2rem 0 auto;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: transparent !important;
	box-shadow: var(--shadow-small);
	border-radius: var(--gap-small);
}
.action__tooltip span {
	display: flex;
	width: 4rem;
	height: 4rem;
	justify-content: center;
	align-items: center;
	background-color: var(--color-bg-80);
	backdrop-filter: blur(4px);
	position: relative;
}

.action__tooltip span:first-child::before {
	content: '';
	display: block;
	width: 1px;
	height: 80%;
	background-color: var(--color-font-20);
	position: absolute;
	inset: 0 0 0 auto;
	z-index: 10;
	margin-block: auto;
}

.action__tooltip span svg {
	font-size: 1.6rem;
}
