.projects-section {
	background-color: var(--color-bg-light-80);
	overflow: hidden;
}
.projects-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding-block: var(--gap-big);
	column-fill: auto;
	column-width: 100%;
	gap: var(--gap-big);
}
